h1{
    color:whitesmoke;
    text-align: center;
    
}
p{
    font-size: 20px;
    color: white;
    text-align: center;
}
body{
    background-color: rgb(117, 1, 1);

}
img{
    width: 500px;
    margin: auto;
    padding: 1px;
    border-color: 100px; border-color: goldenrod;
    border-style: solid;
    border-width: 5px;
   
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
